extends layout
block content
  .jumbotron
    .container
      .row
        .col-md-6
            h1 NetClipBoard 
            p.lead 寄存你的链接及文字以便快捷中转
            p
            p="下方输入密码以取出内容"

        .col-md-4.col-md-offset-2
            p="请在左侧输入以下密码或扫描生成的二维码提取您寄存的数据:"
            div#handCode
            div#qrcodeCanvas  
            script(type="text/javascript")  ShowQR(location.href); 
      .row
        .btn-toolbar
        p=" 请输入要寄存的内容:"
            .btn-group
            button.btn.btn-default 字母小写
            button.btn.btn-default 字母大写
            button.btn.btn-default 复制文本
        form.formgroup(method="POST",action="/addnote",data-ajax-success="ShowQR",data-ajax-method="Post",data-ajax="true")
          .form-group
            textarea.form-control(name="noteText" rows="3" style="max-width:100%;height:200px;")
            button.btn.btn-primary="提交"
            


        