extends layout
block content
  br
  br
  .jumbotron
    .container
      .row
        .col-md-6
            h1 NetClipBoard 
            h2 寄存你的链接及文字以便快捷中转
            br
            p="下方输入密码以取出内容"
            input#key.form-control
            button.btn.btn-primary(type="button",onclick="ajaxFetch()")="查询"
        .col-md-4.col-md-offset-2
            p#anchor="请在左侧输入以下密码或扫描生成的二维码提取您寄存的数据:"
            div#handCode
            div#qrcodeCanvas  
      .row
        .btn-toolbar
        p=" 请输入要寄存的内容:"
            .btn-group
            button.btn.btn-default(onclick="toLower()") 字母小写
            button.btn.btn-default(onclick="toUpper()") 字母大写
            button.btn.btn-default(onclick="copyToBoard()") 复制文本
            button.btn.btn-default(onclick="downTxt()") 下载txt
            input#keepkey(type="checkbox",checked="checked")
            label(for="keepkey") 保持密码           
            textarea#noteText.form-control(name="noteText" rows="3") #{noteText}
            button.btn.btn-primary(type="button",onclick="submitAjax()")="提交"
            &nbsp;
            button.btn.btn-primary(type="button",onclick="retoSocket()")="对话" 
block scripthead
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
block scripts  
    script(src='//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
    script(src="//cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js") 
    script(src='//apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='//apps.bdimg.com/libs/respond.js/1.4.2/respond.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    script(src="/self/clientIndex.js")

