doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Connect all your devices
    link(rel='stylesheet', type='text/css', href='//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    //script(src='/javascripts/modernizr-2.6.2.js')
    block scripthead
  body
    #nav.navbar.navbar-inverse.navbar-fixed-bottom
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') NetClipBoard
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/websocket') 直连
            li
              a(href='/about') 关于
            li
              a(href='https://github.com/goumang2010/NetClipBoard',target="_blank") GitHub
            li
              a(href='http://wiki.chuune.top/wiki/NetClipBoard',target="_blank") WiKi
          p.navbar-text.navbar-right
            a.navbar-link(href="#",data-toggle="modal",data-target="#signupModal") 注册
            span &nbsp;|&nbsp;
            a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登录
    .container.body-content
      block content
      hr
      footer
        p &copy; #{year} -by chuune - 
          a(href='http://wiki.chuune.top',target="_blank") wiki - 
          a(href='https://github.com/goumang2010/',target="_blank") github - 
          a(href='mailto:goumang2010@live.com',target="_blank") goumang2010@live.com
    #signupModal.modal
      .modal-dialog
       .modal-content
         form#signupForm(method="POST",action="/user/signup")
            .modal-header 注册
            .modal-body
               .form-group
                label(for="signupName") 用户名
                input#signupName.form-control.name(name="name",type="text")
               .form-group
                label(for="signupPassword") 密码
                input#signupPassword.form-control.password(name="password",type="text")
               .form-group
                label(for="email") 邮箱
                input#email.form-control.email(name="email",type="text")
            .modal-footer
                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                button.btn.btn-success(type="submit") 提交
    #signinModal.modal
        .modal-dialog
          .modal-content
           form#signinForm(method="POST",action="/user/signin")
             .modal-header 登录
             .modal-body
               .form-group
                label(for="signinName") 用户名
                input#signinName.form-control(name="name",type="text")
               .form-group
                label(for="signinPassword") 密码
                input#signinPassword.form-control(name="password",type="text")
            .modal-footer
                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                button.btn.btn-success(type="submit") 提交
    script(src='//cdn.bootcss.com/jquery/2.2.0/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='//cdn.bootcss.com/jquery-validate/1.13.1/jquery.validate.min.js')
    script(src="/self/layout.js")
    block scripts  
