extends layout
block content
  ul.pages
   li.chat.page
      .col-md-2
        p#welcome #{sysmsg}
        p#state
        ul#ulUI.list-group
      .col-md-10.chatArea
       ul#msglist.messages
       textarea#textInput(placeholder="在此输入..",rows="3").inputMessage.form-control #{text}
       button#sendBtn.btn.btn-primary(type="button",onclick="sendMsg()")="发送"
    li.login.page
     .form
       h3.title 请输入一个你的代号并回车
       input#usrInput.usernameInput(type="text",maxlength="14")
block scripthead
    link(rel='stylesheet', type='text/css', href='/stylesheets/websocket.css')
block scripts  
    script(src="/javascripts/socket.io.js") 
    script(src="/self/websocket.js")
    
